{% extends "layout.html" %}
{% load static %}
{% block title %}
    {{ school_abv }} 
{% endblock %}

{% block content %}

  <!-- Page Header -->
  <div class="header">ALUMNI RELATIONS AND CAREER DEVELOPMENT</div>

  <div class="container-fluid">
    <!-- Top Intro Section with Logo and Description -->
    <section class="section-top d-flex flex-column flex-md-row align-items-center">
      <div class="text-center mb-3 mb-md-0 me-md-4">
        <!-- Logo Image -->
        <img src="arcdologo.jpg" alt="arcdologo" class="img-fluid" />
      </div>
      <!-- Description Text -->
      <p>
        The Alumni Relations and Career Development Office provides quality placement services to PUP Students and Alumni to help them establish their own careers. It also serves as the link between Alumni and the University, facilitating networking opportunities while remaining connected with the University.
      </p>
    </section>

    <!-- Mission Section -->
    <section class="section-mission d-flex flex-column flex-md-row align-items-start">
      <h2 class="section-title">OUR MISSION</h2>
      <p class="ms-md-4">The PUP Career Development and Placement Office provides opportunities for gainful employment to all graduates and working students in their fields of expertise, helping them exhibit excellence in their chosen careers, and developing their self-esteem.</p>
    </section>

    <!-- Vision Section -->
    <section class="section-vision d-flex flex-column flex-md-row align-items-start">
      <h2 class="section-title">OUR VISION</h2>
      <p class="ms-md-4">The PUP Career Development and Placement Office envisions itself as a borderless work pool providing students and graduates employment in reputable companies, institutions, and other entities. It is also a training ground that will develop globally competitive graduates who are ready to face the challenges of the new millennium.</p>
    </section>

    <!-- Function Section -->
    <section class="section-function d-flex flex-column flex-md-row align-items-start">
      <h2 class="section-title">OUR FUNCTION</h2>
      <ul class="function-list ms-md-4">
        <!-- List of Office Functions -->
        <li>To formulate a Manual of Operations for the Office and implement its guidelines</li>
        <li>To coordinate with companies for positions for graduates and alumni</li>
        <li>To disseminate recruitment needs within the university</li>
        <li>To assist companies in staffing by providing graduate lists</li>
        <li>To establish linkages with multinational companies and agencies</li>
        <li>To prepare referral letters for alumni and graduates</li>
        <li>To conduct pre-employment seminars and job fairs</li>
        <li>To coordinate sponsorships for university activities</li>
        <li>To manage placement service website updates</li>
        <li>To monitor and assist graduates’ employment needs</li>
        <li>To attend seminars and workshops for employment trends</li>
        <li>And other related functions in line with university goals</li>
      </ul>
    </section>

    <!-- Core Values Section -->
    <section class="section-core d-flex flex-column flex-md-row align-items-start">
      <h2 class="section-title">CORE VALUES</h2>
      <p class="ms-md-4">The Alumni Relations and Career Development Offices staff and personnel pledge to serve the clientele with responsibility, integrity, passion, loyalty, efficiency, and teamwork.</p>
    </section>
  </div>

  <div class="org-heading text-center mb-5">
    <div class="container">
        <h2 class="text-center">ARCDO OFFICIALS AND STAFF</h2>
        <div class="underline"></div><br>
        <p class="text-center">Get to know the people behind the Alumni Relations and Career Development Office - PUP</p>
    </div> 
</div>

<div class="org container">
    <div class="row mb-4">
        <div class="col-md-12 d-flex flex-column align-items-center">
            <img src={% static "images/officials/MaamFlor2.jpg" %} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">Engr. FLORINDA H. OQUINDO</h6>
            <p class="text-center">Director</p>
        </div>
    </div>
    
    

    <div class="row mb-4">
        <div class="row mb-4 justify-content-center">
            <img src=  {% static "images/officials/Prof_JanePulma.jpg" %} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">Prof. Jane S. Pulma</h6>
            <p class="text-center">Chief, Career Development & Placement Services</p>
        </div>
        <div class="row mb-4 justify-content-center">
            <img src={% static  "images/officials/JoepeSolosa.png"  %} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">Prof. Ma. Joepe A. Solosa</h6>
            <p class="text-center">Chief, Alumni Relations Services</p>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src= {% static  "images/officials/MylaSalcedo.jpg" %} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">Myla D. Salcedo</h6>
            <p class="text-center">Admin Staff</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src={% static  "images/officials/GlacieDungao.jpg" %} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">Glacie Joy L. Dungao </h6>
            <p class="text-center">Admin Staff</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src={% static "images/officials/MauraPaz.jpg" %} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">Maura C. Paz</h6>
            <p class="text-center">Admin Staff</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src={% static "images/officials/KennetteRemolano.jpg" %} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">Kennette A. Remolano</h6>
            <p class="text-center">Admin Staff</p>
        </div>
    </div>
</div>
<!--THE EXECUTIVE OFFICIALS-->

<div class="org-heading text-center mb-5">
    <div class="container">
        <h2 class="text-center">THE EXECUTIVE OFFICIALS</h2>
        <div class="underline"></div><br>
    </div> 
</div>

<div class="org container">
    <div class="row mb-4">
        <div class="col-md-12 d-flex flex-column align-items-center">
            <img src={% static "images/officials/ManuelMuhi.jpg" %} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">Manuel M. Muhi, D.Tech., ASEAN Engr.</h6>
            <p class="text-center">President</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 d-flex flex-column align-items-center">
            <img src={% static "images/officials/AlbertoGuillo.jpg"%} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">Alberto C. Guillo, MS(Stat) MA(Econ)</h6>
            <p class="text-center">Executive Vice President</p>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center">
            <img src={% static "images/officials/EmmanuelDeGuzman.jpg"%} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">Emanuel C. De Guzman, Ph.D</h6>
            <p class="text-center">Vice President for Academic Affairs</p>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center">
            <img src={% static "images/officials/TomasTestor.jpg" %}alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-3 text-center">Tomas O. Testor, MPA</h6>
            <p class="text-center">Vice President for Student Affairs & Services</p>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src={% static "images/officials/AnnaGapasin.jpg" %}alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">Anna Ruby P. Gapasin, DEM</h6>
            <p class="text-center">Vice President for Research, Extension, & Dev't</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src={% static "images/officials/PascualitoGatan.jpg" %} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">Pascualito B. Gatan, MBA</h6>
            <p class="text-center">Vice President for Branches & Campuses</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src={% static "images/officials/AdamRamilo.jpg" %} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">Adam V. Ramilo, MIR</h6>
            <p class="text-center">Vice President for Administration</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center">
            <img src={% static "images/officials/MarisaLegaspi.jpg" %} alt="Organizational Chart" class="img-thumbnail">
            <h6 class="mt-2 text-center">Marisa J. Legaspi, CPA</h6>
            <p class="text-center">Vice President for Finance</p>
        </div>
    </div>
</div>


        <!-- Assistive Touch Button -->
        <div class="dropdown">
          <div class="assistive-touch user-select-none" id="assistiveTouch" data-bs-toggle="dropdown" aria-expanded="false">
              &#9881;
          </div>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/">Home</a></li>
            <li><a class="dropdown-item" href="{% url 'careers' %}">Careers</a></li>
            <li><a class="dropdown-item" href="{% url 'events' %}">Events</a></li>          
            <li><a class="dropdown-item" href="{% url 'articles' %}">Articles</a></li>
            <li><a class="dropdown-item" href="services.html">Services</a></li>
            <li><a class="dropdown-item" href="{% url 'stories' %}">Stories</a></li>
            <li><a class="dropdown-item" href="{% url 'about' %}">About</a></li>
              
          </ul>
      </div>


      <script src="{% static 'js/about.js' %}"></script>
      <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css">

{% endblock %}