{% extends "layout.html" %}
{% load static %}
{% block title %}
    {{ school_abv }} 
{% endblock %}

{% block content %}

<div class="header">EVENTS
    <div class="underline"></div>
</div>

<main class="container my-5">
    <section class="featured-section row">
        <div class="col-md-8">
            <h2>FEATURED</h2>
            <h3>TITLE SPACE</h3>
            <p>This is a paragraph content section where other things will enter here. This is a paragraph content section where other things will enter here. This is a paragraph content section where other things will enter here. This is a paragraph content section where other things will enter here. This is a paragraph content section where other things will enter here. This is a paragraph content section where other things will enter here.</p>
            <button>Read Now</button>
        </div>
        <div class="col-md-4">
            <img src="https://placehold.co/400x300" alt="Featured article image" class="img-fluid rounded">
        </div>
    </section>
    <section class="mb-5">
        <div class="row mb-4">
            <div class="col-md-4 mb-3">
                <label for="filter" class="form-label">Filter Events</label>
                <select id="event-filter" class="form-select" aria-label="Event filter">
                    <option value="all" selected>All Events</option>
                    <option value="upcoming" >Upcoming Events</option>
                    <option value="past">Past Events</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="month" class="form-label">Month</label>
                <select id="month-filter" class="form-select">
                    <option>All</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="year" class="form-label">Year</label>
                <select id="year-filter" class="form-select">
                    <option>All</option>
                </select>
            </div>
        </div>
    </section>
    <section class="row event-cards" id="event-cards-container">
        
    </section>
</main>
    <!-- Assistive Touch Button -->
    <div class="dropdown">
        <div class="assistive-touch user-select-none" id="assistiveTouch" data-bs-toggle="dropdown" aria-expanded="false">
            &#9881;
        </div>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/">Home</a></li>
            <li><a class="dropdown-item" href="{% url 'careers' %}">Careers</a></li>
            <li><a class="dropdown-item" href="{% url 'events' %}">Events</a></li>          
            <li><a class="dropdown-item" href="{% url 'articles' %}">Articles</a></li>
            <li><a class="dropdown-item" href="services.html">Services</a></li>
            <li><a class="dropdown-item" href="{% url 'stories' %}">Stories</a></li>
            <li><a class="dropdown-item" href="{% url 'about' %}">About</a></li>
            
        </ul>
    </div>




<script src="{% static 'js/events.js' %}"></script>
<link href="{% static 'css/events.css' %}" rel="stylesheet" type="text/css">

{% endblock %}